# Build Directory 
build/

# CMake Directory
CMakeFiles/

# Vscode Files 
.vscode/

# Ignore anything Google Test related
googletest*

# Debug Symboles Files
*.dSYM/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
